@import "../../asset/mixins/_mixins";
@import '../../asset/scss/variables.scss';

.donate {
    display:  flex;

    h5 {
        margin-bottom: 30px;
    }
    #donation {
        flex: 0.30;
    }
    #payment {
        flex: 0.70;
    }
    .bottom {
        display: flex;
    }
    .icons {
        padding-bottom: 30px;
    }
}